<div class="product-container">
  <div class="button-wapper"><button mat-raised-button (click)="createProduct('/product-create')" class="product-button">Create</button></div>
    
    <app-product-search (searchEvent)="onSearch($event)"></app-product-search>
  </div>

  <div class="mat-elevation-z8">
  <div *ngIf="filteredProducts.length === 0" class="no-data-message">
    No data in the list.
  </div>
  <table *ngIf="filteredProducts.length > 0" width="50%" mat-table [dataSource]="filteredProducts" class="mat-elevation-z8 product-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td  mat-cell *matCellDef="let element" appHighlight="lightblue">{{element.id}}</td>
    </ng-container>
  
 
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element" appHighlight="lightblue">{{element.name}}</td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>description</th>
      <td mat-cell *matCellDef="let element" appHighlight="lightblue">{{element.description}}</td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>price</th>
      <td mat-cell *matCellDef="let element" appHighlight="lightblue">{{element.price | currencyFormat}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" appHighlight="lightblue">
        <button mat-icon-button (click)="viewProduct(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editProduct(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteProduct(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>